/* ------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------ */

/* 
Main-color: #5fc0c3


*/
p {
    margin: 0;
}

* {
    line-height: 30px;
}

html {
    background-color: #fff;
    color: #565659;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix {
    content: '.';
    clear: both;
    display: block;
    height: 0;
}


/*.nav-container {
    padding-top: 20px;
    padding-bottom: 20px;
}*/

ul.main-nav {
    margin: 0;
}

.container {
    padding: 50px;
}

.next-container {
    padding-bottom: 0;
}

/*.page-center {
  max-width: 980px;
  margin: 0 auto!important;
  float: none!important;
}*/

/*.row {
    margin: 0 auto;    
}*/

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

header .full-width {
  width: 100%;
  background: #fff;
}

.nav-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.signin-btn {
	border: 2px solid #5fc0c3;
	padding: 0 30px;
    color: #5fc0c3;
}

a.signIn {
    color: #5fc0c3 !important;
    margin-top: 5px;
}

a.joinUs {
    color: #5fc0c3;
    margin-top: 5px;
}

h1, h2, h3 {
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-size: 240%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #777;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}*/

.spaced {
    margin-top: 5px;
}

.logo {
    height: 40px;
    width: auto;
    float: left;
}

/* Main Navigation   */
.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}


.main-nav li a:link,
.main-nav li a:visited {
    /*padding: 8px 0;*/
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #565659;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/*ul.topnav li a:hover {background-color: #555;}*/

ul.topnav li.icon {display: none;}



/*.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}*/

.hero-text-box {
    background-image: linear-gradient(rgba(8, 4, 0, 0.53), rgba(2, 0, 1, 0.51)), url(https://www.dropbox.com/s/1ixx0qq7rz2dzs6/hero.jpg?raw=1);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding: 70px;
}

.hero-text-big {
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 50px;
    text-transform: uppercase;
}

.hero-p1, .hero-p2  {
    text-align: center;
    color: #fff;
    line-height: 30px;
}

.hero-p1 {
    font-size: 18px;
}

.hero-p2 {
    font-size: 14px;
}

.event-p1 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
}


/*.next-event-row {
    padding: 0 50px;
}
*/

span.colored-event {
    color: #5fc0c3;
}

.registerBtn {
    float: right;
}

.next-event-section {
    background-color: #f1f2f5;
    margin: 0;
    float: none;
}

/*.next-event-section {
    background-color: #f1f2f5;
    padding: 25px 50px;
    margin: 0;
    float: none;
}*/

a.registerBtn {
    background-color: #5fc0c3;
    color: #fff;
    border: 2px solid #5fc0c3;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;

}

.involve-section {
    text-align: center;
    /*padding: 50px;*/
}

.involve-box h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.involve-img {
    width: 145px;
    height: 115px;
}

.involve-img2 {
    width: 115px;
    height: 115px;
}

.involve-box h3 {
    text-transform: uppercase;
}

.involve-box a {
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #5fc0c3;
    padding: 8px 45px;
    color: #5fc0c3;
}

.join-col {
    margin-bottom: 20px;
}

.involve-box p {
    margin-bottom: 20px;
}

.mission-box {
    /*padding: 50px;*/
    text-align: center;
    background-color: #f1f2f5;
}

.mission-box h2 {
    text-transform: uppercase;
}

.mission-card {
    background-color: #fff;
    padding: 25px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    margin-bottom: 10px;
    margin-top: -70px;
    border-radius: 10px;
}

.mission-card h3 {
    padding-top: 15px; 
    color: #5fc0c3;
    font-size: 18px;
    font-weight: bold;
} 

hr {
    color: #777;
    /*margin-left: 20px;
    margin-right: 15px;*/
    margin-bottom: 15px;
    margin-top: 20px;
    opacity: 0.3;
    height: 2px;
}

.partners-img1 {
    max-width: 150px;
    max-height: 70px;
}

.partners-img2 {
    max-width: 220px;
    max-height: 70px;
    padding-top: 10px;
}

.partners-img3 {
    max-width: 120px;
    max-height: 50px;
    padding-top: 10px;
}

.partners-img4 {
    max-width: 200px;
    max-height: 85px;
    margin-top: -5px;
}

.partners-img5 {
    max-width: 200px;
    max-height: 95px;
    margin-top: -5px;
}

.members-box {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #f1f2f5;
}

.members-box h2 {
    text-transform: uppercase;
}

.blog-row {
    padding: 50px;
}

.blog-box {
    padding-top: 20px;
    padding-bottom: 50px;
}

.blog-box h2 {
    text-transform: uppercase;
}

hr.blog-hr {
    margin-top: -15px;
    /*margin-left: 0;
    margin-right: 30px;*/
    opacity: 0.2;
}

hr.blog-hr-bottom {
    /*margin-left: 0;
    margin-right: 30px;*/
    opacity: 0.2;
}

.blog-row h5 {
    color: #5fc0c3;
}

.blog-row col {
    /*margin: 15px 0;*/
}

.social-icons {
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    color: #5fc0c3;
}

.social-icons a:hover {
    color: #fff;
    -webkit-transition: all .25s ease|linear|ease-in|ease-out|ease-in-out|cubic-bezier(<2>,<2>,<2>,<2>);
       -moz-transition: all .25s ease|linear|ease-in|ease-out|ease-in-out|cubic-bezier(<2>,<2>,<2>,<2>);
        -ms-transition: all .25s ease|linear|ease-in|ease-out|ease-in-out|cubic-bezier(<2>,<2>,<2>,<2>);
         -o-transition: all .25s ease|linear|ease-in|ease-out|ease-in-out|cubic-bezier(<2>,<2>,<2>,<2>);
            transition: all .25s ease|linear|ease-in|ease-out|ease-in-out|cubic-bezier(<2>,<2>,<2>,<2>);
}

.footer-section {
    background-color: #777;
}

.footer-top {
    padding-top: 30px;
}

.footer-bottom {
    padding-bottom: 20px;
}

.siteBy {
    color: #979eb1;
    text-align: center;
}

.footer-bottom a:link {
    color: #5fc0c3;
    text-decoration: none;
    text-align: center;
}

.footer-col {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*************

Grids Style

*************/


/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
    zoom: 1; 
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1%;
}

.col:first-child { margin-left: 0; } 


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 580 PIXELS */

@media only screen and (max-width: 580px) {
    .col { 
        /*margin: 1% 0 1% 0%;*/
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }
}


/*  GRID OF TWO   ============================================================================= */


.span-2-of-2 {
    width: 100%;
}

.span-1-of-2 {
    width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-2-of-2 {
        width: 100%; 
    }
    .span-1-of-2 {
        width: 100%; 
    }
}


/*  GRID OF THREE   ============================================================================= */

    
.span-3-of-3 {
    width: 100%; 
}

.span-2-of-3 {
    width: 66.13%; 
}

.span-1-of-3 {
    width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-3-of-3 {
        width: 100%; 
    }
    .span-2-of-3 {
        width: 100%; 
    }
    .span-1-of-3 {
        width: 100%;
    }
}

/*  GRID OF FOUR   ============================================================================= */

    
.span-4-of-4 {
    width: 100%; 
}

.span-3-of-4 {
    width: 74.6%; 
}

.span-2-of-4 {
    width: 49.2%; 
}

.span-1-of-4 {
    width: 23.8%; 
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-4-of-4 {
        width: 100%; 
    }
    .span-3-of-4 {
        width: 100%; 
    }
    .span-2-of-4 {
        width: 100%; 
    }
    .span-1-of-4 {
        width: 100%; 
    }
}


/*  GRID OF FIVE   ============================================================================= */

    
.span-5-of-5 {
    width: 100%;
}

.span-4-of-5 {
    width: 79.68%; 
}

.span-3-of-5 {
    width: 59.36%; 
}

.span-2-of-5 {
    width: 39.04%;
}

.span-1-of-5 {
    width: 18.72%;
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 680px) {
    .span-5-of-5 {
        width: 100%; 
    }
    .span-4-of-5 {
        width: 100%; 
    }
    .span-3-of-5 {
        width: 100%; 
    }
    .span-2-of-5 {
        width: 100%; 
    }
    .span-1-of-5 {
        width: 100%; 
    }
}



/*  GRID OF SIX   ============================================================================= */


.span-6-of-6 {
    width: 100%;
}

.span-5-of-6 {
    width: 83.06%;
}

.span-4-of-6 {
    width: 66.13%;
}

.span-3-of-6 {
    width: 49.2%;
}

.span-2-of-6 {
    width: 32.26%;
}

.span-1-of-6 {
    width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-6-of-6 {
        width: 100%; 
    }
    .span-5-of-6 {
        width: 100%; 
    }
    .span-4-of-6 {
        width: 100%; 
    }
    .span-3-of-6 {
        width: 100%; 
    }
    .span-2-of-6 {
        width: 100%; 
    }
    .span-1-of-6 {
        width: 100%; 
    }
}



/*  GRID OF SEVEN   ============================================================================= */


.span-7-of-7 {
    width: 100%;
}

.span-6-of-7 {
    width: 85.48%;
}

.span-5-of-7 {
    width: 70.97%;
}

.span-4-of-7 {
    width: 56.45%;
}

.span-3-of-7 {
    width: 41.94%;
}

.span-2-of-7 {
    width: 27.42%;
}

.span-1-of-7 {
    width: 12.91%;
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-7-of-7 {
        width: 100%; 
    }
    .span-6-of-7 {
        width: 100%; 
    }
    .span-5-of-7 {
        width: 100%; 
    }
    .span-4-of-7 {
        width: 100%; 
    }
    .span-3-of-7 {
        width: 100%; 
    }
    .span-2-of-7 {
        width: 100%; 
    }
    .span-1-of-7 {
        width: 100%; 
    }
}


/*  GRID OF EIGHT   ============================================================================= */

    
.span-8-of-8 {
    width: 100%;
}

.span-7-of-8 {
    width: 87.3%; 
}

.span-6-of-8 {
    width: 74.6%; 
}

.span-5-of-8 {
    width: 61.9%; 
}

.span-4-of-8 {
    width: 49.2%; 
}

.span-3-of-8 {
    width: 36.5%;
}

.span-2-of-8 {
    width: 23.8%; 
}

.span-1-of-8 {
    width: 11.1%; 
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-8-of-8 {
        width: 100%; 
    }
    .span-7-of-8 {
        width: 100%; 
    }
    .span-6-of-8 {
        width: 100%; 
    }
    .span-5-of-8 {
        width: 100%; 
    }
    .span-4-of-8 {
        width: 100%; 
    }
    .span-3-of-8 {
        width: 100%; 
    }
    .span-2-of-8 {
        width: 100%; 
    }
    .span-1-of-8 {
        width: 100%; 
    }
}


/*  GRID OF NINE   ============================================================================= */


.span-9-of-9 {
    width: 100%;
}

.span-8-of-9 {
    width: 88.71%;
}

.span-7-of-9 {
    width: 77.42%; 
}

.span-6-of-9 {
    width: 66.13%; 
}

.span-5-of-9 {
    width: 54.84%; 
}

.span-4-of-9 {
    width: 43.55%; 
}

.span-3-of-9 {
    width: 32.26%;
}

.span-2-of-9 {
    width: 20.97%; 
}

.span-1-of-9 {
    width: 9.68%; 
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-9-of-9 {
        width: 100%; 
    }
    .span-8-of-9 {
        width: 100%; 
    }
    .span-7-of-9 {
        width: 100%; 
    }
    .span-6-of-9 {
        width: 100%; 
    }
    .span-5-of-9 {
        width: 100%; 
    }
    .span-4-of-9 {
        width: 100%; 
    }
    .span-3-of-9 {
        width: 100%; 
    }
    .span-2-of-9 {
        width: 100%; 
    }
    .span-1-of-9 {
        width: 100%; 
    }
}


/*  GRID OF TEN   ============================================================================= */


.span-10-of-10 {
    width: 100%;
}

.span-9-of-10 {
    width: 89.84%;
}

.span-8-of-10 {
    width: 79.68%;
}

.span-7-of-10 {
    width: 69.52%; 
}

.span-6-of-10 {
    width: 59.36%; 
}

.span-5-of-10 {
    width: 49.2%; 
}

.span-4-of-10 {
    width: 39.04%; 
}

.span-3-of-10 {
    width: 28.88%;
}

.span-2-of-10 {
    width: 18.72%; 
}

.span-1-of-10 {
    width: 8.56%; 
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-10-of-10 {
        width: 100%; 
    }
    .span-9-of-10 {
        width: 100%; 
    }
    .span-8-of-10 {
        width: 100%; 
    }
    .span-7-of-10 {
        width: 100%; 
    }
    .span-6-of-10 {
        width: 100%; 
    }
    .span-5-of-10 {
        width: 100%; 
    }
    .span-4-of-10 {
        width: 100%; 
    }
    .span-3-of-10 {
        width: 100%; 
    }
    .span-2-of-10 {
        width: 100%; 
    }
    .span-1-of-10 {
        width: 100%; 
    }
}


/*  GRID OF ELEVEN   ============================================================================= */

.span-11-of-11 {
    width: 100%;
}

.span-10-of-11 {
    width: 90.76%;
}

.span-9-of-11 {
    width: 81.52%;
}

.span-8-of-11 {
    width: 72.29%;
}

.span-7-of-11 {
    width: 63.05%; 
}

.span-6-of-11 {
    width: 53.81%; 
}

.span-5-of-11 {
    width: 44.58%; 
}

.span-4-of-11 {
    width: 35.34%; 
}

.span-3-of-11 {
    width: 26.1%;
}

.span-2-of-11 {
    width: 16.87%; 
}

.span-1-of-11 {
    width: 7.63%; 
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-11-of-11 {
        width: 100%; 
    }
    .span-10-of-11 {
        width: 100%; 
    }
    .span-9-of-11 {
        width: 100%; 
    }
    .span-8-of-11 {
        width: 100%; 
    }
    .span-7-of-11 {
        width: 100%; 
    }
    .span-6-of-11 {
        width: 100%; 
    }
    .span-5-of-11 {
        width: 100%; 
    }
    .span-4-of-11 {
        width: 100%; 
    }
    .span-3-of-11 {
        width: 100%; 
    }
    .span-2-of-11 {
        width: 100%; 
    }
    .span-1-of-11 {
        width: 100%; 
    }
}


/*  GRID OF TWELVE   ============================================================================= */

.span-12-of-12 {
    width: 100%;
}

.span-11-of-12 {
    width: 91.53%;
}

.span-10-of-12 {
    width: 83.06%;
}

.span-9-of-12 {
    width: 74.6%;
}

.span-8-of-12 {
    width: 66.13%;
}

.span-7-of-12 {
    width: 57.66%; 
}

.span-6-of-12 {
    width: 49.2%; 
}

.span-5-of-12 {
    width: 40.73%; 
}

.span-4-of-12 {
    width: 32.26%; 
}

.span-3-of-12 {
    width: 23.8%;
}

.span-2-of-12 {
    width: 15.33%; 
}

.span-1-of-12 {
    width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 580px) {
    .span-12-of-12 {
        width: 100%; 
    }
    .span-11-of-12 {
        width: 100%; 
    }
    .span-10-of-12 {
        width: 100%; 
    }
    .span-9-of-12 {
        width: 100%; 
    }
    .span-8-of-12 {
        width: 100%; 
    }
    .span-7-of-12 {
        width: 100%; 
    }
    .span-6-of-12 {
        width: 100%; 
    }
    .span-5-of-12 {
        width: 100%; 
    }
    .span-4-of-12 {
        width: 100%; 
    }
    .span-3-of-12 {
        width: 100%; 
    }
    .span-2-of-12 {
        width: 100%; 
    }
    .span-1-of-12 {
        width: 100%; 
    }
}


/*************

Normalize Style

*************/



html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}



/*************

Media Queries

*************/




/* Big tablets to 1200px
Device width from 1024px - 1200px */
@media only screen and (max-width: 1200px) {
    header, .full-width { width: 100%; padding: 0 2%; }
    .row { padding: 0 2%; }
    body { font-size: 18px; }
}


/* Small tablets to big tablets 
Device width from 768px - 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 16px; }
    /*section { padding: 40px 0;}*/

    .hero-text-box h1, p {
        width: 88%;
        margin-left: 5%;
    }
}


/* Small phones to small tablets 
Device width from 481px - 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    .row { padding: 0 4%; }

    /*.main-nav { display: none;}*/
    /*.hero-text-big { font-size: 100px; }*/
    .next-container { padding-bottom: 50px; }
    a.joinUs { padding: 10px; }

}


/* From 0 - 480px Devices */
@media only screen and (max-width: 480px) {
    .hero-text-big { font-size: 50px; }
}


